extends layout

block content

    div(class='row')
        div(class='col-12 col-md-8 mt-4')
            div(id='grid' style='width: 100%; height: 730px;')


        div(class='col-12 col-md-4 mt-4')
            div(id='form')
                div(class='w2ui-page page-0')
                    div(class='w2ui-field w2ui-span2')                    
                        label 권한레벨
                        div
                            input(name='level1')

                    div(class='w2ui-field w2ui-span2')
                        label 권한명
                        div
                            input(name='name1')

                    div(class='w2ui-field w2ui-span3 mt-4')
                        label
                            b 접근권한설정
                        div
                    - var count = 0
                    - each row1, i in MENUS
                        if row1.title != null
                                div(class='w2ui-field w2ui-span2')
                                    label= row1.title
                                    div(class='d-flex flex-wrap align-items-start')
                                        - each row2, j in row1.child                                            
                                            div(class='d-flex flex-row align-items-center me-2')
                                                input(class='me-1', type='checkbox', id='show_menu'+count, name='show_menu[]', value=''+row2.link)
                                                label(for='show_menu'+count)= row2.title
                                            - count++
                                                

                div(class='w2ui-buttons')
                    button(class='w2ui-btn', name='reset') 리셋
                    button(class='w2ui-btn w2ui-btn-blue', name='save', id='save') 입력


    //- 들여쓰기 중요함
    script.
        //- var menuArr = JSON.parse('!{JSON.stringify(menuArr)}');
        var table = 'GRADE_tbl';
        var config = {
            grid: {
                url: {
                    get: '/crud/list?table=' + table,
                    remove: '/crud/remove?table=' + table,                    
                },
                recid: 'idx',
                limit: 20,
                recordHeight: 30,
                autoLoad: false,
                name: 'grid',
                show: {
                    selectColumn: true,
                    footer: true,
                    toolbar: true,
                    toolbarDelete: true,
                },
                sortData: [{ field: 'level1', direction: 'ASC' }],
                multiSelect: true,
                multiSearch: true,
                onError:function(e){
                    console.log(e.xhr.responseText);
                },
                onClick: function(event) {
                    if (event.column == null) {
                        return;
                    }

                    var grid = this;
                    var form = w2ui.form;
                    event.onComplete = function () {
                        var sel = grid.getSelection();
                        if (sel.length == 1) {
                            form.recid  = sel[0];
                            form.record = $.extend(true, {}, grid.get(sel[0]));
                            
                            //여기서 체크박스 값 세팅 해준다.
                            $("input[name='show_menu[]']").prop('checked', false);
                            var tmpArr = form.record.show_menu_link.substr(1,9999).split(",");
                            $("input[name='show_menu[]']").each(function() {
                                for (var i in tmpArr) {
                                    if ($(this).val() == tmpArr[i]) {
                                        $(this).prop('checked', true);
                                        continue;
                                    }
                                }
                            });
                            //
                            form.refresh();
                            $("#save").text("수정");
                        } else {
                            form.clear();
                            $("#save").text("입력");
                        }
                    }
                },
                searches: [
                    { field: 'name1', caption: '권한명', type: 'text' },			//세팅 해줘야함
                    { field: 'level1', caption: '레벨', type: 'int' },			//세팅 해줘야함
                ],
                columns: [
                    { field: 'idx', caption: '번호', size: '50px', sortable: true, resizable: true, attr: 'align=center' },
                    { field: 'level1', caption: '권한레벨', size: '80px', sortable: true, resizable: true, attr: 'align=center' },				//세팅 해줘야함
                    { field: 'name1', caption: '권한명', size: '100%', min: 250, sortable: true, resizable: true, attr: 'align=left' },					//세팅 해줘야함
                    { field: 'created', caption: '생성일', size: '80px', resizable: true, sortable: true, attr: 'align=center',
                        render: function(rec) {
                            return util_convert_to_millis(rec.created);
                        }
                    },
                    { field: 'modified', caption: '수정일', size: '80px', resizable: true, sortable: true, attr: 'align=center',
                        render: function(rec) {
                            return util_convert_to_millis(rec.modified);
                        }
                    },
                ],
            },
            form: {
                name: 'form',
                fields: [
                    { field: 'level1', type: 'int', required: false },
                    { field: 'name1', type: 'text', required: false },
                ],
                actions: {
                    reset: function () {
                        this.clear();
                        $("input[name='show_menu[]']").prop('checked', false);
                        $("#save").text("입력");
                    },
                    save: function () {
                        var errors = this.validate();
                        if (errors.length > 0) {
                            return;
                        }

                        var showMenuList = "";
                        
                        //체크박스는 제이쿼리로 처리하자!!
                        $("input[name='show_menu[]']").each(function() {
                            if (this.checked) {
                                showMenuList += "," + $(this).val();
                            }
                        });
                        //
                        
                        //- 세팅해줘야함.
                        this.record.table = table;
                        //
                        this.record.show_menu_link = showMenuList;
                        
                        var formData = new FormData();
                        var self = this;
                        for (var key in this.record) {
                            formData.append(key, self.record[key]);                            
                        }
                        
                        axios.post('/crud/write', formData).then(function(res) {
                            console.dir(res.data);                        
                            if (res.data.code == 1) {
                                w2ui.grid.reload();
                                w2ui.form.clear();
                                $("#save").text("입력");
                            } else if (res.data.code == 2) {
                                $("#save").text("입력");
                                w2ui.form.clear();
                                w2ui.grid.set(res.data.record.idx, res.data.record, false);
                                w2ui.grid.selectNone();
                            }
                        });
                    }
                },
                onSave: function(e) {
                    var result = JSON.parse(e.xhr.responseText);
                    console.log(result);
                    
                    if (result.code == 1) {
                        w2alert(result.msg);
                        w2ui.grid.reload();
                        this.clear();
                        $("input[name='show_menu[]']").prop('checked', false);
                        $("#save").text("입력");
                    }
                },
            },
        };
        $(function () {
            $('#grid').w2grid(config.grid);
            $('#form').w2form(config.form);            
        });
