<form name="frm2" method="post" action="/crud/write?table=<%=table%>" >
    <input type="hidden" name="return_url" value="<%=return_url%>" />
    <input type="hidden" name="idx" value="<%=row.idx%>" />
        
    <table class="table table-borderless table-sm table-form">
        <tr>
            <th width="100">병원명</th>
            <td><input name='name1' class='form-control' required value="<%=row.name1%>"/></td>
        </tr>

        <tr>
            <th>주소</th>
            <td><input name='addr' class='form-control' required value="<%=row.addr%>"/></td>
        </tr>

        <tr>
            <th>전화</th>
            <td><input name='tel' class='form-control' required value="<%=row.tel%>"/></td>
        </tr>

        <tr>
            <th>GRADE</th>
            <td><input name='grade' class='form-control' required value="<%=row.grade%>"/></td>
        </tr>

        <tr>
            <th>LAT</th>
            <td><input name='lat' class='form-control' required value="<%=row.lat%>"/></td>
        </tr>

        <tr>
            <th>LNG</th>
            <td><input name='lng' class='form-control' required value="<%=row.lng%>"/></td>
        </tr>

        <tr>
            <td colspan="2">
                <div class="d-flex flex-wrap">
<% 
    var size = "100px";
    for (var i = 0; i <= 0; i++) {
        var filename = '';
        if (row) {
            filename = eval('row.filename' + i);
        }
%>
                    <div class="me-3 mt-3" style="position: relative; width: <%=size%>; height: <%=size%>;" ondragenter="dragEnter(<%=i%>, event)" ondragleave="dragLeave(<%=i%>, event)" ondragover="dragOver(event)" ondrop="drop(<%=i%>, event)">
<%


        if (filename) {
%>
                        <label for="file-input<%=i%>">
                            <img id="filename<%=i%>_IMG" src="<%=filename%>" class="img-thumbnail p-0" style="cursor: hand; width: <%=size%>; height: <%=size%>;" onclick="imageWindow('<%=filename%>');"/>
                        </label>
                        <img id="filename<%=i%>_X" onclick="deleteImage(<%=i%>)" src="/images/photo_x.png" class="X" style="position: absolute; cursor: pointer; top: -10px; right: -9px;" width="25" height="25">
                        <input type="hidden" id="filename<%=i%>" name="filename<%=i%>" value="<%=filename%>" />
<%
        } else {
%>
                    
                        <label for="file-input<%=i%>">
                            <img id="filename<%=i%>_IMG" src="/images/no-img2.png" class="img-thumbnail p-0" style="cursor: hand;  width: <%=size%>; height: <%=size%>;"/>
                        </label>
                        
                        <img id="filename<%=i%>_X" onclick="deleteImage(<%=i%>)" src="/images/photo_x.png" class="X" style="position: absolute; cursor: pointer; top: -10px; right: -9px; display: none;" width="25" height="25">
                        <input type="hidden" id="filename<%=i%>" name="filename<%=i%>"/>
<%
        }
%>
                    </div>
<%
    }
%>
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" id="submit" style="display: none;"/>
</form>

<img id="zoom_img" class="position-absolute top-50 start-50 translate-middle" style="display: none; cursor: pointer;" onclick="$(this).hide();"/>

<script>
function dragEnter(i, e) {
    console.log(i, "드래그 요소가 들어왔을떄", e);
    $("#filename"+i+"_IMG").addClass("bg-dark");
}
function dragLeave(i, e) {
    console.log(i, "드래그 요소가 나갔을때");
    $("#filename"+i+"_IMG").addClass("img-thumbnail");
    $("#filename"+i+"_IMG").removeClass("bg-dark");
}
function dragOver(e) {
    // console.log("draging");
    e.stopPropagation();
    e.preventDefault();
}

function drop(i, e) {
    console.log("드래그한 항목을 떨어뜨렸을때", e);
    e.preventDefault();

    var urlLink = '';
    try {
        var imageUrl = e.dataTransfer.getData('text/html');
        var rex = /src="?([^"\s]+)"?\s*/;
        var url, res;
        url = rex.exec(imageUrl);
        urlLink = url[1];
    } catch (e) {}
    
    if (urlLink) {      //웹사이트 이미지를 드래그해서 놓으면 이미지 url을 파싱하여 s3에 업로드해서 링크를 리턴한다!
        $.ajax({
            type: 'POST',
            url: '/crud/link_upload',
            data: { 'url_link': urlLink },
            success: function(res) {
                console.dir(res);
                $("#filename"+i).val(res.url);
                $("#filename"+i+"_IMG").attr("src", res.url);
                $("#filename"+i+"_IMG").attr("onclick", "imageWindow('"+res.url+"')");
                $("#filename"+i+"_X").show();
            }, err: function(err) {
                console.log(err);
            }
        });
    } else {
        var file = e.dataTransfer.files[0];
        var formData = new FormData();
        formData.append("upload_file", file, file.name);
        $.ajax({
            type: 'POST',
            url: '<%=process.env.IMAGE_SERVER%>',
            processData: false,
            contentType: false,
            data: formData,
            dataType: "json",
            success: function(res) {
                console.dir(res);
                $("#filename"+i).val(res.url);
                $("#filename"+i+"_IMG").attr("src", res.url);
                $("#filename"+i+"_IMG").attr("onclick", "imageWindow('"+res.url+"')");
                $("#filename"+i+"_X").show();
            }, err: function(err) {
                console.log(err);
            }
        });
    }
}


function upload(obj, i) {
    var formData = new FormData();
	formData.append("upload_file", $(obj)[0].files[0], $(obj)[0].files[0].name);

    $.ajax({
        type: 'POST',
        url: '<%=process.env.IMAGE_SERVER%>',
        processData: false,
        contentType: false,
        data: formData,
        dataType: "json",
        success: function(res) {
            console.dir(res);
            $("#filename"+i).val(res.url);
            $("#filename"+i+"_IMG").attr("src", res.url);
            $("#filename"+i+"_IMG").attr("onclick", "imageWindow('"+res.url+"')");
            $("#filename"+i+"_X").show();
        }, err: function(err) {
            console.log(err);
        }
    });
}


function deleteImage(i) {
    if (confirm("삭제하시겠습니까?")) {
        var path = $("#filename"+i+"_IMG").attr("src");
        $("#filename"+i).val("");
        $("#filename"+i+"_IMG").attr("src", "/images/no-img2.png");
        $("#filename"+i+"_IMG").attr("onclick", "");
        $("#filename"+i+"_X").hide();
    }
}

function imageWindow(url) {
    $("#zoom_img").attr("src", url);
    $("#zoom_img").show();
}

</script>



