<%- include('header.html') %>

<div class='card shadow mb-4'>
    <div class='card-body' id='liveuser'></div>
</div>
        

<%- include('footer.html') %>


<script>
$(document).ready(function () {
    liveuser();
    
    setInterval(function() {
        liveuser();
    }, 4000);
});

function liveuser() {

    $.ajax({
        type: 'POST',
        url: '/analyzer/liveuser',
        dataType: "json",
        success: function(res) {
            console.dir(res);

            var html = "========================================<br>";
            html += res.currentTime + ", <font color='red'>" + res.list.length + "</font>명 접속<br>";
            html += "(4분동안 액션이 없으면 카운팅에서 제외 됩니다.)<br>";
            html += "========================================<br><br>";
                            
            for (i in res.list) {
                var obj = res.list[i];
                html += (parseInt(i) + 1) + ". 시간: " + obj.date + ", IP: " + obj.id + "<br>위치: " + obj.url + "<br>";
                html += "<hr>";
            }
            
            $("#liveuser").html(html);
        }, err: function(err) {
            console.log(err);
        }
    });


}
</script>