<%-include('header.html')%>

<%
    var baseUrl = `/patient/list/${data.view}/${menu1}/${menu2}`;
    
%>

<div class='card shadow mb-5'>
    <div class='card-body'>

        <form name="frm2" method="GET" action="<%=baseUrl%>">
            <input type="hidden" name="table" value="<%=data.table%>"/>
            <div class="d-flex flex-row justify-content-end mb-2">
                <div class="input-group w-50">
                    <select name="search_column" class="form-select">
                        <option value="name1">제목</option>
                    </select>
                    <input type="text" name="search_value" class="form-control" placeholder="검색어를 입력해주세요" required value="<%=data.search_value%>" />
                    <button class="btn btn-primary" type="submit">검색</button>
                    <a href="<%=baseUrl%>?table=<%=data.table%>" class="btn btn-outline-dark" type="button">목록</a>
                </div>
            </div>
        </form>


        <form name="frm1" method="GET" action="/crud/delete" onsubmit="return false;">
            <input type="hidden" name="table" value="<%=data.table%>"/>
            <input type="hidden" name="return_url" value="<%=baseUrl%>?page=<%=data.pageNum%>&table=<%=data.table%>&search_column=<%=data.search_column%>&search_value=<%=data.search_value%>&orderby=<%=data.orderby%>"/>

            <table class="table bg-white">
                <thed>
                    <tr>
                        <th class="text-center text-nowrap" width="150">
                            번호
                            <a class="<%=data.orderby == 'idx DESC' ? 'text-link' : 'text-dark'%>" href="Javascript:orderby('idx DESC');"><i class="bi bi-arrow-down"></i></a>
                            <a class="<%=data.orderby == 'idx ASC' ? 'text-link' : 'text-dark'%>" href="Javascript:orderby('idx ASC');"><i class="bi bi-arrow-up"></i></a>
                        </th>
                        <th class="text-nowrap">
                            성함
                            <a class="<%=data.orderby == 'name1 DESC' ? 'text-link' : 'text-dark'%>" href="Javascript:orderby('name1 DESC');"><i class="bi bi-arrow-down"></i></a>
                            <a class="<%=data.orderby == 'name1 ASC' ? 'text-link' : 'text-dark'%>" href="Javascript:orderby('name1 ASC');"><i class="bi bi-arrow-up"></i></a>
                        </th>
                        <th class="text-center text-nowrap" width="120">
                            등록일
                            <a class="<%=data.orderby == 'created DESC' ? 'text-link' : 'text-dark'%>" href="Javascript:orderby('created DESC');"><i class="bi bi-arrow-down"></i></a>
                            <a class="<%=data.orderby == 'created ASC' ? 'text-link' : 'text-dark'%>" href="Javascript:orderby('created ASC');"><i class="bi bi-arrow-up"></i></a>
                        </th>
                    </tr>
                </thed>
                <tbody>
                    <% for (row of data.list) { %>
                    <tr>
                        <td class="text-center text-nowrap"><%=row.idx%></td>
                        <td>
                            <div class="d-flex flex-row align-items-center">
                                <div class="text-truncate" style="max-width: 500px;">
                                    <a
                                        href="Javascript:void(0)"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        onclick="openPopup('/patient/write', '<%=row.idx%>');">
                                        <%=row.name1%>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="text-center text-nowrap"><%=row.created%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            
        </form>
    </div>
</div>


<% if (data.list.length != 0) { %>
<div class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item <% if(data.pnPrev == 0) { %> disabled <% } %>">
            <a class="page-link" <% if (data.pageNum > 1) { %> href="Javascript:page(<%=data.pnPrev%>);" <% } %>>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% for (var i = data.pnStart; i <= data.pnEnd; i++) { %>
        <li class="page-item <% if(i == data.pageNum) { %> active <% } %>">
            <a class="page-link" href="Javascript:page(<%=i%>);"><%=i%></a>
        </li>
        <% } %>
        <li class="page-item <% if(data.pnNext == 0) { %> disabled <% } %>">
            <a class="page-link" <% if (data.pageNum < data.pnTotal){ %> href="Javascript:page(<%=data.pnNext%>);" <% } %>>
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<% } %>

<%- include('footer.html') %>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light" id="write_form">
                
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" onclick="$('#submit').trigger('click');">저장</button> -->
            </div>
        </div>
    </div>

    <!-- <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light" id="write_form">
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="$('#submit').trigger('click');">저장</button>
            </div>
        </div>
    </div> -->
</div>


<script>
function allCheck(obj) {
    $("input[name='idx[]']").prop('checked', obj.checked);
}

function orderby(orderby) {
    location.href = `<%=baseUrl%>?table=<%=data.table%>&search_column=<%=data.search_column%>&search_value=<%=data.search_value%>&orderby=${orderby}`;
}

function page(page) {
    location.href = `<%=baseUrl%>?table=<%=data.table%>&search_column=<%=data.search_column%>&search_value=<%=data.search_value%>&orderby=<%=data.orderby%>&page=${page}`;
}

function del() {
    if ($("input:checkbox[name='idx[]']:checked").length <= 0) {
        alert('체크된 항목이 없습니다.');
        return;
    }

    if (confirm('삭제하시겠습니까?')) {
        document.frm1.submit();
    }
}

function openPopup(url, idx) {
    var return_url = `<%=baseUrl%>?page=<%=data.pageNum%>&table=<%=data.table%>&search_column=<%=data.search_column%>&search_value=<%=data.search_value%>&orderby=<%=data.orderby%>`;
    console.log(url);
    $.ajax({
        url: url,
        method: 'get',
        data: { 
            idx: idx,
            return_url: return_url,
            table: '<%=data.table%>',
            view: '<%=data.view%>',
        },
        dataType: "html",
        success: function(result) {
            $("#write_form").html(result);
        }
    });

}


</script>